
@{
    Layout = null;
}
@model NewModel.TypeInfo
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>修改新闻类型</title>
    <link href="~/Content/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/themes/icon.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery.easyui.min.js"></script>
    <script src="~/Scripts/easyui-lang-zh_CN.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/MyAjaxForm.js"></script>
    <script type="text/javascript">      
        //提交表单
        function SubForm() {
            $("#editForm").submit();
        }
        function afterEdit(data) {
            window.parent.afterEdit(data);
            parent.location.reload();
        }
    </script>
</head>
<body>
    <div>
        @using (Ajax.BeginForm("EditNewInfo", new { }, new AjaxOptions() { OnSuccess = "afterEdit" }, new { id = "editForm" }))
        {
            <input type="hidden" name="Id" value="@Model.Id" />
            <table>

                <tr>
                    <td>类型:</td>
                    <td>
                        <input type="text" name="Type" value="@Model.Type"/>
                    </td>
                </tr>

            </table>

        } 
    </div>
</body>
</html>
